/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Gotham-light';
  font-weight: normal;
  src: url("assets/fonts/gotham-light-webfont.eot");
  src: url("assets/fonts/gotham-light-webfont.eot#iefix") format("embedded-opentype"),
  url("assets/fonts/gotham-light-webfont.woff") format("woff"),
  url("assets/fonts/gotham-light-webfont.ttf") format("truetype"),
  url("assets/fonts/gotham-light-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Gotham-book';
  font-weight: normal;
  src: url("assets/fonts/gotham-book-webfont.eot");
  src: url("assets/fonts/gotham-book-webfont.eot#iefix") format("embedded-opentype"),
  url("assets/fonts/gotham-book-webfont.woff") format("woff"),
  url("assets/fonts/gotham-book-webfont.ttf") format("truetype"),
  url("assets/fonts/gotham-book-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Gotham-medium';
  font-weight: normal;
  src: url("assets/fonts/gotham-medium-webfont.eot");
  src: url("assets/fonts/gotham-medium-webfont.eot#iefix") format("embedded-opentype"),
  url("assets/fonts/gotham-medium-webfont.woff") format("woff"),
  url("assets/fonts/gotham-medium-webfont.ttf") format("truetype"),
  url("assets/fonts/gotham-medium-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Gotham-bold';
  font-weight: 700;
  src: url("assets/fonts/gotham-bold-webfont.eot");
  src: url("assets/fonts/gotham-bold-webfont.eot#iefix") format("embedded-opentype"),
  url("assets/fonts/gotham-bold-webfont.woff") format("woff"),
  url("assets/fonts/gotham-bold-webfont.ttf") format("truetype"),
  url("assets/fonts/gotham-bold-webfont.svg") format("svg");
}


* {
    font-family: 'Gotham-book', Helvetica, sans-serif;
}

body {
    background-color: #f1f1f1;
    /*background-image: url(assets/bg.jpg);
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.navbar {
    /*border-bottom: 3px solid #ff8405;*/
}

.card {
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
  border-color: #96b0ca;
}

.card .card-header {
    background-color: #2e86bc;
  color: white;
  /*border-bottom: 3px solid #ff8405;*/
}

.card-block {
    background-color: #f9f9f9;
}

.card-header {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.dropdown-menu {
    background-color: #056f9d;
}

.dropdown-item {
    color: #9fbac7;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #ff8405;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #f7fbfd;
    background-color: #2e86bc;
}

.center{
  display:table-cell;
  vertical-align:middle;
}

.row {
  min-height: 45px;
}

.bg-primary {
    background-color: #056f9d!important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f6fbff;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
}

.table thead th {
    background-color: #35a7d8;
    color: white;
}

.table tfoot th {
    background-color: #35a7d8;
    color: white;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    color: darkslategray;
}

.page-item.active .page-link {
    background-color: #056f9d;
    border-color: #056f9d;
}

.page-link {
  color: #056f9d;
}

.content {
  padding: 10px;
}

.bottomline {
  border-bottom: 1px solid #AAA;
}
